*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    transition: 0.2s all;
}
.nav ul{
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}
ul li{
    list-style: none;
}
body a{
    text-decoration: none;
    color: white;
}
.page{
    background-color: #efefef;
    padding-bottom: 50px;
}
.top{
    height: 4px;
    width: 100%;
    background-color: #fecd0b;
}
.nav{
    background-color: #0081a7;
}
.nav-logo{
    justify-content: flex-start;
    align-items: center;
}
.nav-logo p{
    max-width: 230px;
    max-height: 80px;
    height: auto;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    font-size: 18px;
    padding-top: 15px;
}
.nav-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-right{
    padding: 0 50px;
}
.nav-right a:hover{
    color: #5191c2;
}
.nav-sign{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    padding-bottom: 20px;
}
.nav-sign a:first-child{
    border: 1px solid rgba(204, 204, 204, 0.285);
    margin-right: 10px;
    padding-right: 10px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.nav-input{
    display: flex;
    justify-content: flex-end;
}
.nav-input input{
    background-color: #21a6df;
    min-width: 240px;
    border: 1px solid #2a6496;
    height: 34px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}
.nav-input input::placeholder{
    color: #fff;
}
.nav-input input:active,
.nav-input input:focus{
    background-color: #014684;
}
.nav-language{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    padding-top: 10px;
}
.nav-language a:first-child{
    color: #fecd0c;
    border: 1px solid rgba(204, 204, 204, 0.285);
    margin-right: 10px;
    padding-right: 10px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
/* Nav List Wrapper */
.nav-list-wrapper-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #21a6df;
    cursor: pointer;
    color: #fff;
    padding-bottom: 30px;
}
.nav-list-wrapper-ul li{
    border: 0.5px solid rgba(0, 0, 0, 0.558);
    border-left: none;
    border-bottom: none;
    border-top: none;
}
.nav-list-wrapper ul li{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    padding: 13px 20px;

}
.nav-list-wrapper i{
    margin-left: 5px;
    font-size: 11px;
}
.nav-list-wrapper ul li:hover,
.nav-list-wrapper ul li i:hover{
    color: #fecd0b;
}
.nav-list-2{
    display: none;
    position: absolute;
    top: 100%;
    color: #fff;
    background-color: #21a6df;
    min-width: 150px;
    left: 0;
    min-width: 180px;
    z-index: 10;
}
.nav-list-2 li{
    border: 0.5px solid rgba(0, 0, 0, 0.558);
    border-right: none;
    border-left: none;
    border-bottom: 0.5px;
}
.nav-list-wrapper ul li:hover .nav-list-2{
    display: block;
}
.responsive-list li ul li::before {
    content: "-";
    margin-right: 10px;
    color: rgb(102, 102, 102);
}
.responsive-list,
.nav-hamburger{
    display: none;
}
.nav-hamburger{
    cursor: pointer;
    font-size: 24px;
    width: 100%;
    background-color: #fecd0b;
    color: #5191c2;
}
.responsive-list{
    background-color: #21a6df;
    color: #fff;
    font-weight: 500;
}
.responsive-list ul{
    margin-bottom: 0;
}
.responsive-list ul li{
    border: 1px solid rgb(102, 102, 102);
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 13px;
    cursor: pointer;
}
.responsive-list ul li:first-child{
    border-top: none;
}
.responsive-list ul li ul li:first-child{
    border-top: 1px solid rgb(102, 102, 102);
}
@media (max-width: 991px){
    .nav-wrapper{
        flex-direction: column;
        gap: 35px;
    }
    .nav-logo{
        justify-content: center;
    }
    .nav-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-list-wrapper{
        display: none;
    }
    .nav-hamburger{
        display: block;
    }
    .nav-language{
        margin-bottom: 20px;
    }
}
/* Slider */
.slides li{
    position: relative;
}
.slides li p{
    position: absolute;
    bottom: -15px;
    z-index: 20;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 12px;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.6);
}
.slides li{
  border: 4px solid #fff;
}
/* News */
.news,
.elan{
    background-color: #fff;
}
.news-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
}
.news-header span{
    text-transform: uppercase;
}
.news-header a{
    color: #0081a7;
}
.news-header a:hover{
    color: #014684;
}
.news-section{
    margin: 15px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px dashed rgb(213, 219, 224);
}
.news-section:last-child{
    border-bottom: none;
}
.news-info{
    padding: 0 15px;
    cursor: pointer;
}
.news-section img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    cursor: pointer;
}
.news-title{
    font-weight: bold;
    font-size: 14px;
}
.news-text,
.news-date{
    font-size: 13px;
    color: #999;
    overflow-x: hidden;
}
.news-text::after{
    content: "...";
}
.elan .news-title{
    color: #4782b2;
    font-size: 15px;
}
.elan .news-title:hover{
    color: #2a6496;
}
.elan-date{
    width: 65px;
    height: 65px;
}
.elan-date b{
    background-color: #21a6df;
    color: #fff;
    display: block;
    width: 65px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}
.elan-date p{
    background-color: #f3f3f3;
    font-size: 16px;
    font-weight: 700;
    width: 65px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    display: block;
}
/* Partners */
.partners-wrapper img{
    max-width: 80px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.partners-wrapper img:hover{
    opacity: 1;
}
/* Page right */
.ibn-sina{
    background-color: #ffeb9c;
    max-width: 360px;
    max-height: 100px;
    padding: 15px;
    font-size: 14px;
}
.ibn-sina p{
    color: #666;
}
.ibn-sina b{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 991px){
    .ibn-sina{
        margin-top: 30px;
    }
}
/* Tedbirler */
.tedbirler{
    background-color: #67bc9a;
    max-width: 360px;
}
.tedbir-header{
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding: 15px;
    color: white;
}
.calendar-top{
    padding: 15px;
    display: flex;
    gap: 55px;
    color: white;
    border-bottom: 1px dashed #21a6df;
    cursor: pointer;
}
.calendar-top a{
    color: #ffeb9b;
    font-size: 18px;
    font-weight: bold;
}
.calendar-bottom{
    padding: 15px;
}
.calendar-date a{
    color: #014684;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}
.calendar-date i{
    margin-left: 10px;
    background-color: #21a6df;
    padding: 3px 7px;
    color: white;
    border: 1px solid black;
}
.calendar-date i:hover{
    background-color: #014684;
}
.calendar-info{
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.calendar-info button{
    margin-top: 10px;
    background-color: transparent;
    color: #ffeb9c;
    border: 1px solid #ffeb9c;
    padding: 8px 28px;
    font-weight: bold;
    border-radius: 4px;
}
.calendar-info button:hover{
    background-color: rgb(1 71 132/21%);;
}
.sozluk{
    background-color: #fff;
    max-width: 360px;
}
.sozluk-title{
    padding: 13px;
    border-bottom: 1px solid black;
    font-size: 13px;
    font-weight: 600;
}
.sozluk-info{
    padding: 15px;
}
.sozluk-info::after{
    content: "...";
}
.sozluk-info span{
    color: #666;
    font-weight: 600;
}
.sozluk-button button{
    text-align: center;
    background-color: rgb(1 71 132/6%);
    padding: 6px 140px;
    margin: 15px;
    border: none;
    color: #0081a7;
    font-weight: 700;
    border-radius: 4px;
}
/* Kitabxana */
.kitabxana{
    max-width: 360px;
}
.kitabxana div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0.25rem!important;
    --border-opacity: 1!important;
    --bg-opacity: 1!important;
    background-color: rgba(33,166,223)!important;
    color: #fff!important;
    padding: 18px;
    transition: all .2s ease-in;
    cursor: pointer;
}
.kitabxana div:first-child:hover{
    background-color: rgb(22 127 173)!important;
}
.kitabxana div:last-child{
    background-color: rgb(1 70 132)!important;
}
.kitabxana div:last-child:hover{
    background-color: rgb(22 127 173)!important;
}
.qalereya{
    max-width: 360px;
    background-color: #fff;
}
.qalereya-img{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}
.qalereya img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    opacity: 0.5;
}
.qalereya img:hover{
    opacity: 1;
}
/* Faydali kecid */
.faydali-kecid{
    max-width: 360px;
}
.faydali-kecid-title{
    font-size: 14px;
    font-weight: 700;
}
.faydali-wrapper{
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.faydali-item{
    background-color: #fff;
    padding: 13px;
    gap: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.faydali-item:hover{
    background-color: #ebebeb;
    border-color: #adadad;
}
.faydali-item:hover .item-info{
    color: #333;
}
.item-img img{
    max-width: 56px;
    height: auto;
}
.item-info{
    color: #21a6df;
    font-weight: 600;
}
/* Footer */
footer{
    background-color: #0081a7;
    color: #fff;
}
footer ul li{
    padding-left: 0;
}
.footer-wrapper{
    padding-top: 40px;
}
.footer-list{
    gap: 25px;
}
.footer-list{
    font-weight: 700;
    font-size: 13px;
}
.footer-list li:first-child{
    min-width: 100px;
    padding-top: 20px;
}
.footer-list li{
    line-height: 2em;
    font-weight: 500;
    font-size: 15px;
    list-style: square;
    color: #efefef;
    cursor: pointer;
}
.footer-list li:hover{
    color: #fecd0c;
}
.bottom-wrapper{
<<<<<<< HEAD
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
=======
>>>>>>> 27419ffb867d1032831959f9e70a89e446035c6a
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 60px;
}
.bottom-wrapper i{
    margin-right: 5px;
}
<<<<<<< HEAD
.bottom-item:last-child{
    display: flex;
    justify-content: flex-end;
}
=======
>>>>>>> 27419ffb867d1032831959f9e70a89e446035c6a
.bottom-item:hover{
    color: #fecd0c;
}
.bottom-item span{
    color: #ffeb9c;
}
<<<<<<< HEAD
.footer-social a{
    background-color: #21a6df;
    padding: 17px 18px;
}
@media (max-width: 991px){
    .ibn-sina,
    .tedbirler,
    .sozluk,
    .qalereya,
    .faydali-kecid{
        max-width: none;
    }
    .bottom-item:last-child{
        margin-top: 60px;
        justify-content: flex-start;
    }
=======
.footer-social{
    float: right;
}
.footer-social a{
    background-color: #21a6df;
    padding: 17px 18px;
>>>>>>> 27419ffb867d1032831959f9e70a89e446035c6a
}